version: "3.7"
services:

    app_proxy:
        environment:
            APP_HOST: youtubedl-material_server_1
            APP_PORT: 8998
    server:
        image: tzahi12345/youtubedl-material:latest
        environment:
            - PUID=1000
            - PGID=1000
        volumes:
            - ${APP_DATA_DIR}/data/youtubedl-material/appdata:/app/appdata
            - ${UMBREL_ROOT}/data/storage/downloads/youtubedl-material/audio:/app/audio
            - ${UMBREL_ROOT}/data/storage/downloads/youtubedl-material/video:/app/video
            - ${UMBREL_ROOT}/data/storage/downloads/youtubedl-material/subscriptions:/app/subscriptions
            - ${UMBREL_ROOT}/data/storage/downloads/youtubedl-material/users:/app/users
        ports:
            - 8998:8998
        restart: on-failure
